CARD_UPLOAD=T:\Card Upload
CARD_DATABASE=T:\Card Database
G_DRIVE=G:\My Drive\Card Database
MONGO_URI=mongodb://card_manager:1369@100.80.179.119:27018/carddb
IMMICH_URL=http://100.80.179.119:8081
IMMICH_API_KEY=your_real_key_here

